<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="readInput" value="C:\Arjun\Sahaj\Test\TestInput.csv"/>
    <add key ="fileNotFound" value ="C:\Arjun\Sahaj\Test\FileNotFound.csv"/>
    <add key ="wrongInput" value ="C:\Arjun\Sahaj\Test\TestWrongInput.csv"/>
  </appSettings>
</configuration>